/* -------------------- */

:root{
    --main-back: #000000;
    --main-font: #ffffff;
    --main-border: #ffffff;
    --main-shadow: #ffffff;
}

/* -------------------- */

/* Main Structure */

*{
    box-sizing: border-box;
    cursor: context-menu;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--main-back);
    color: var(--main-font);
    font-size: 12px;
    overflow: hidden;
}

#footer{
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    cursor: context-menu;
    position: fixed;
    bottom: 5px;
}

.hidden{
    display: none !important;
}

#main{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
}

canvas{
    margin: auto;
}

/* -------------------- */

/* Header */

#header {
    width: 100vw;
}

#header h1{
    margin: 15px auto;
    font-size: 20px;
    text-decoration: none;
    cursor: context-menu;
    color: var(--main-font);
}

#header h1:before, #header h1:after {
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid var(--main-font);
}

#header h1:after {
    margin: 0 -55% 0 .5em;
}

/* -------------------- */

/* Score */

#score-container {
    margin: auto;
    width: 440px;
    display: flex;
    justify-content: space-between;
}

#score-container h2{
    margin: 15px auto;
    font-size: 20px;
    text-decoration: none;
    cursor: context-menu;
    color: var(--main-font);
}

/* -------------------- */

/* Corner Menu */

.corner-menu {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.corner-menu .corner-btn{
    flex: 0 0;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: var(--main-back);
    box-shadow: 0 1px 5px var(--main-shadow);
    cursor: pointer;
    z-index: 2;
}

.corner-menu .corner-btn img{
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    filter: invert();
}

.corner-menu .corner-btn:hover img{
    animation: pulse 2s linear infinite;
}

/* -------------------- */

/* Keyframes */

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
