:root{
    --background: #ffffff;
    --font: #000000;
    --border: #000000;
    --shadow: #6b6b6b;
}

*{
    box-sizing: border-box;
    cursor: default;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--background);
    color: var(--font);
    font-size: 12px;
}

/* -------------------- */

/* Corner Menu */

.corner-menu {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.corner-menu .corner-btn{
    flex: 0 0;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: 0 1px 5px var(--border);
    cursor: pointer;
    z-index: 2;
}

.corner-menu .corner-btn img{
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.corner-menu .corner-btn:hover img{
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* -------------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* -------------------- */

#footer{
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    cursor: context-menu;
    position: fixed;
    bottom: 5px;
    left: 0px;
}

/* -------------------- */

/* Stats */

#stats{
    position: fixed;
    left: 5px;
    top: 5px;
    font-size: 18px;
    text-align: left;
    cursor: context-menu;
}

#stats h1{
    font-size: 24px;
}

/* -------------------- */

/* Main */

#main{
    width: 100vw;
    height: calc(100% - 120px);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#main-column{
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 50px;
}

#main-column .main-row{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-column .main-row .input-row{
    flex: 1 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#main-column .main-row .input-row .input{
    width: 30px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--shadow);
    font-size: 30px;
    background-color: var(--shadow);
    opacity: 20%;
}

#main-column .main-row.active .input-row .input{
    width: 30px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--shadow);
    font-size: 30px;    
    background-color: var(--background);
    opacity: 100%;
    cursor: pointer;
}

#main-column .main-row .input-row .input.focus{
    animation: shadow 1s alternate infinite;
}

@keyframes shadow{
    0%{
        box-shadow: 0px 0px 5px var(--shadow);
    }
    100%{
        box-shadow: 0px 0px 5px 3px var(--shadow);
    }
}

#main-column .main-row .response-row{
    flex: 1 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main-column .main-row .response-row .response{
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: var(--shadow);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--shadow);
}

#main-column .main-row .response-row .response.partial{
    background-color: #ff910060;
    border: 1px solid #ff9100;
    box-shadow: 0px 0px 5px #ff9100;
}

#main-column .main-row .response-row .response.exact{
    background-color: #00ff2a60;
    border: 1px solid #00ff2a;
    box-shadow: 0px 0px 5px #00ff2a;
}

#main-buttons{
    height: 120px;
}

#main-buttons .button-row{
    display: flex;
    justify-content: center;
}

#main-buttons .button-row .button{
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 5px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--shadow);
    font-size: 15px;    
    background-color: var(--background);
    opacity: 100%;
    cursor: pointer;
}

#main-buttons .button-row .button.click{
    box-shadow: 0px 0px 5px 3px var(--shadow);
}