:root{
    --main-back: #ffffff;
    --main-font: #000000;
    --main-border: #000000;
    --main-shadow: #00000080;
    --disabled-font: #b4b4b4;
    --scroll-back: #ffffff;
    --scroll-main: #ececec;
    --scroll-hover: #cfcfcf;
}

*{
    box-sizing: border-box;
    cursor: default;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--main-back);
    color: var(--main-font);
    font-size: 12px;
}

#header {
    flex: 0 0;
    width: 100vw;

    h1{
        margin: 0.5em auto;
        font-size: 2em;
        text-decoration: none;
        color: var(--main-font);
    }

    h1:before, h1:after {
        content: "";
        display: inline-block;
        width: 10%;
        margin: 0 0.5em 0 -55%;
        vertical-align: middle;
        border-bottom: 0.1em solid var(--main-font);
    }

    h1:after {
        margin: 0 -55% 0 0.5em;
    }
}

#main{
    flex: 1 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em 1em 2em 1em;

    .content-box{
        flex: 1 1 300px;
        height: 300px;
        padding: 1em;
        text-decoration: none;
        box-shadow: 0 0.1em 0.5em var(--main-shadow);
        overflow: hidden;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: var(--main-font);

        h1{
            color: var(--main-font);
            font-size: 2em;
            cursor: pointer;
        }

        p{
            color: var(--main-font);
            font-size: 1em;
            cursor: pointer;
        }

        img{
            height: 60%;
            cursor: pointer;
        }
    }

    .content-box.disabled{
        cursor: default;

        h1, p{
            color: var(--disabled-font);
            cursor: default;
        }

        img{
            filter: opacity(50%);
        }
    }

    .content-box:not(.disabled):hover img{
        animation: wobble 1s linear infinite;
    }
}

.corner-menu {
    font-size: 12px;
    position: fixed;
    right: 1em;
    bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    .corner-btn{
        flex: 0 0;
        width: 5em;
        height: 5em;
        padding: 1em;
        border-radius: 1em;
        background-color: var(--main-back);
        box-shadow: 0 0.1em 0.5em var(--main-shadow);
        cursor: pointer;
        z-index: 2;

        img{
            display: block;
            width: 3em;
            height: 3em;
            position: relative;
            cursor: pointer;
            z-index: 1;
        }
    }

    .pulse-btn:hover img{
        animation: pulse 2s linear infinite;
    }
}

#footer{
    position: fixed;
    left: 0.5em;
    bottom: 0.2em;
    font-size: 12px;
    text-align: left;

    p{
        margin: 0;
    }
}

::-webkit-scrollbar-track{
	background-color: var(--scroll-back);
}

::-webkit-scrollbar{
	width: 10px;
    height: 10px;
	background-color: var(--scroll-back);
}

::-webkit-scrollbar-thumb{
	background-color: var(--scroll-main);
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: var(--scroll-hover);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--scroll-hover);
  cursor: pointer;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes wobble {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(5deg);}
    100% { transform: rotate(0deg);}
}