:root{
    --main-back: #ffffff;
    --main-font: #000000;
    --main-border: #000000;
    --main-shadow: #6b6b6b;
    --main-error: #ff000071;
    --main-succeess: #00ff0071;
}

*{
    box-sizing: border-box;
    cursor: default;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-back);
    color: var(--main-font);
    font-size: 12px;
}

#stats{
    position: fixed;
    left: 0.5em;
    top: 0.5em;
    font-size: 1em;
    text-align: left;
    cursor: context-menu;

    h1{
        font-size: 1.5em;
    }

    #error{
        color: var(--main-error);
    }
}

main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    #gameCanvas{
        width: 100%;
        margin: auto;
        border: 0.1em solid var(--main-border);
    }

    #gameCanvas.green{
        box-shadow: 0 0 0.5em 0.5em var(--main-succeess);
    }

    #gameCanvas.red{
        box-shadow: 0 0 0.5em 0.5em var(--main-error);
    }
}

#touch-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#start-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    #start-box{
        width: 15em;
        height: 10em;
        border: 1px solid var(--main-border);
        background-color: var(--main-back);
        display: flex;
        justify-content: center;
        align-items: center;
    
        #start-game{
            font-size: 2em;
            text-decoration: none;
            font-weight: bold;
            color: var(--main-font);
            margin: 0.5em;
            cursor: pointer;
        }

        .custom-select {
            position: relative;
            display: inline-block;
            cursor: pointer;
        
            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 0px;
                cursor: pointer;
                text-align: center;
                padding: 0.1em 2em;
            }
        
            select.error {
                box-shadow: 0 0 0.5em 0.5em var(--main-error);
            }
        }

        p{
            margin: 0.5em;
        }
    }
}

#start-container.hidden, #start-container .hidden{
    display: none;
}

.corner-menu {
    font-size: 12px;
    position: fixed;
    right: 1em;
    bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    z-index: 3;

    .corner-btn{
        flex: 0 0;
        width: 5em;
        height: 5em;
        padding: 1em;
        border-radius: 1em;
        background-color: var(--main-back);
        box-shadow: 0 0.1em 0.5em var(--main-shadow);
        cursor: pointer;
        z-index: 2;

        img{
            display: block;
            width: 3em;
            height: 3em;
            position: relative;
            cursor: pointer;
            z-index: 1;
        }
    }

    .pulse-btn:hover img{
        animation: pulse 2s linear infinite;
    }
}

#footer{
    position: fixed;
    left: 0.5em;
    bottom: 0.2em;
    font-size: 12px;
    text-align: left;
    cursor: context-menu;

    p{
        margin: 0;
    }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}